@import "src/defaultSettings";

$bg-color: #00521a;

footer#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $bg-color;
  height: 200px;
  flex-shrink: 0;
}