@import "src/defaultSettings";

$pseudo-hover-bg-color: #113d18;
$pseudo-active-bg-color: #0d5e16;
$active-bg-color: #093409;

nav#nav-bar {
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;

    li {
      display: inline-flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding-right: 0.5rem;

      a {
        padding: 0.75rem 1rem;
        text-decoration: none;
        text-align: center;

        &:hover {
          background-color: $pseudo-hover-bg-color;
        }

        &:active {
          background-color: $pseudo-active-bg-color;
        }

        &.active {
          background-color: $active-bg-color;
        }


      }
    }
  }

  a#site-name-logo {
    padding: 0.5rem;
    display: inline-flex;
    text-decoration: none;
    align-items: center;

    div {
      text-align: center;
      padding: 0.5rem;
    }

  }
}