@import "src/defaultSettings";

html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: $font-color;

  background: radial-gradient(at 100% 0,
          #206E47 0%,
          #030E0A 100%);
}

a {
  text-decoration: none;
  color: unset;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root section {
  flex: 1 0 auto;
}

