$font-color: white;

$nav-font-color: $font-color;
$nav-bg-color: rgb(0, 84, 0);
$nav-hover-bg-color: rgb(0, 119, 0);
$nav-active-bg-color: rgb(0, 152, 0);


@mixin defaultFont {
  color: white;
  font-family: SansSerif, "Gill Sans MT", sans-serif;
}
